@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../abstracts/mixins" as *;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.password-confirmation {
  min-height: 100dvh;
  background-color: c.$account-bg;
  color: c.$black;

  &__content-container {
    margin-inline: auto;
    font-size: 1.1rem;
    font-weight: 500;
    color: c.$profile-edit-maturity-ratings-bg;
    @media screen and (width >= b.$mobile-medium) {
      max-width: func.rem(1024);
      margin-block: 2rem;
      padding-inline: 3rem;
    }
    @media screen and (width < b.$mobile-medium) {
      margin: 1rem;
    }
  }

  &__header {
    @include flex(row, space-between, center);
    margin-bottom: v.$confirmation-gap;
  }

  &__heading {
    font-size: 2rem;
    font-weight: inherit;
    @media screen and (width <= func.rem(740)) {
      font-size: 1.5rem;
    }
  }

  &__profile-img {
    width: func.rem(50);
    border-radius: 7.5%;
    aspect-ratio: 1/1;
  }

  &__text {
    font: inherit;
  }

  &__input-wrapper {
    @include flex(row, flex-start, center);
    gap: 1em;
    margin-top: v.$confirmation-gap;
  }

  &__form {
    position: relative;
  }

  &__password-input {
    font: inherit;
    padding: func.rem(10) func.rem(11);
    border-width: 1px;
    border-radius: 0.25em;
    border-color: hsl(0, 0%, 70%);
    &:focus {
      border-color: c.$gray-text;
      outline: none;
    }
    &.invalid {
      border-color: c.$error-message-2;
    }
    @media screen and (width >= b.$mobile-medium) {
      width: func.rem(300);
    }
    @media screen and (width < b.$mobile-medium) {
      width: max(func.rem(175), 100%);
    }
  }

  &__warning-message {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: v.$font-size-header-mobile;
    color: c.$error-message-2;
    translate: 0 100%;
  }

  &__forgot-link {
    font-size: 1rem;
    font-weight: normal;
    color: hsl(210, 100%, 50%);
    &:where(:hover, :focus-visible) {
      text-decoration: underline;
    }
  }

  &__buttons-container {
    margin-top: calc(v.$confirmation-gap * 2);
    margin-bottom: calc(v.$confirmation-gap * 4);
    @media screen and (width > b.$mobile-medium) {
      @include flex(row, center, center);
      gap: 0.5em;
    }
  }
}
