@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/breakpoints" as b;
@use "../../base/functions" as func;

.report-problem {
  $inner-breakpoint: func.rem(700);

  & * {
    font-weight: normal;
  }

  &__heading {
    font-size: v.$account-heading;
    line-height: 100%;
    margin-bottom: 0.5em;
  }

  &__subheading {
    font-size: 1.17em;
    text-wrap: balance;
    margin-bottom: 0.75em;
  }

  &__wrapper {
    @include flex();
    gap: 1.5rem;
  }

  &__image {
    width: func.rem(107);
    height: func.rem(150);
    @media screen and (width < $inner-breakpoint) {
      display: none;
    }
  }

  &__legend {
    margin-bottom: 1em;
  }

  &__textarea-wrapper {
    @include flex(column);
  }

  &__textarea-label {
    color: c.$gray-text;
  }
  &__textarea-label {
    padding-bottom: 0.3em;
    @media screen and (width < $inner-breakpoint) {
      font-size: func.rem(14);
    }
  }

  &__textarea {
    resize: none;
    padding: 0.5em;
    font: inherit;
  }

  &__btns-wrapper {
    @include flex();
    gap: 1rem;
    margin-top: 1.5rem;
    @media screen and (width < b.$mobile-medium) {
      flex-direction: column;
      gap: 0;
      & > * {
        font-size: v.$font-base;
      }
    }
  }
}
