@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/breakpoints" as b;
@use "../../base/functions" as func;

.report-problem {
  $inner-breakpoint: func.rem(700);

  &__title {
    font-size: 1.17em;
    text-wrap: balance;
    font-weight: normal;
    margin-bottom: 0.75em;
  }

  &__wrapper {
    @include flex();
    gap: 1.5rem;
    font-weight: normal;
  }

  &__image {
    width: func.rem(107);
    height: func.rem(150);
    @media screen and (width < $inner-breakpoint) {
      display: none;
    }
  }

  &__legend {
    margin-bottom: 1em;
  }

  &__textarea-wrapper {
    @include flex(column);
  }

  &__textarea-label {
    color: c.$gray-text;
  }
  &__textarea-label {
    padding-bottom: 0.3em;
    @media screen and (width < $inner-breakpoint) {
      font-size: func.rem(14);
    }
  }

  &__textarea {
    resize: none;
    padding: 0.5em;
    font: inherit;
  }
}
