//* Background & Navbar
$bg-color: hsl(0, 0%, 8%);
$main-text-color: hsl(0, 0%, 90%);

$white: white;
$black: black;

$more-info-btn-bg: hsla(240, 0%, 43%, 0.4);

$navbar-text: hsl(0, 0%, 70%);
//* Footer & Profile & Profile Edit Text
$gray-text: hsl(0, 0%, 50%);

$explore-all-text: hsl(186, 49%, 55%);

$age-recommendation-badge-bg: hsla(0, 0%, 20%, 0.6);

$layout-btn-bg: hsla(0, 0%, 0%, 0.1);

$bg: hsl(0, 0%, 80%);

$profile-edit-create-game-handle-bg: hsl(0, 0%, 40%);
$profile-edit-maturity-ratings-bg: hsl(0, 0%, 20%);

$account-bg: hsl(0, 0%, 95%);
$account-text: hsl(0, 0%, 45%);
$account-text-accent: hsl(210, 100%, 45%);
$account-new-badge-accent: hsl(210, 96%, 52%);
$account-cancel-membership-bg: hsl(0, 0%, 90%);

$netflix-red: hsl(0, 100%, 40%);
$error-message: hsl(357, 81%, 57%);
$error-message-2: hsl(2, 100%, 35%);
$available-color: hsl(131, 48%, 49%);

$language-select-bg: hsla(0, 0%, 0%, 0.9);
$language-select-border: hsla(0, 0%, 100%, 0.15);

$viewing-restriction-input-blue: hsl(210, 100%, 50%);
$viewing-restriction-input-line: hsl(101, 45%, 45%);
$viewing-restriction-input-line-inactive: hsl(0, 0%, 83%);
$viewing-restriction-label-inactive-text: hsl(0, 0%, 60%);
$viewing-restriction-label-inactive-bg: hsl(0, 0%, 86%);

$blocked-list-text: hsl(359, 91%, 38%);
