@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.language-change {
  &__heading-wrapper {
    @include flex(row, space-between, center);
    gap: 1em;
  }

  &__heading {
    font-size: clamp(1.5rem, 1.22rem + 1.42vw, 2.13rem);
    font-weight: 500;
  }

  &__heading-description {
    font-weight: normal;
    margin-top: 0.25em;
    text-wrap: balance;
  }

  // &__profile-img {
  //   width: func.rem(50);
  //   aspect-ratio: 1;
  //   border-radius: 0.25em;
  // }

  &__languages-list {
    @include flex(row, flex-start, center);
    row-gap: 1em;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 3em;
    @media screen and (width < b.$mobile-medium) {
      gap: 1em;
    }
  }

  &__list-item {
    @media screen and (width >= b.$desktop-account) {
      flex-basis: 25%;
    }
    @media screen and (b.$account-page-tablet <= width < b.$desktop-account) {
      flex-basis: calc(100% / 3);
    }
    @media screen and (b.$mobile-medium <= width < b.$account-page-tablet) {
      flex-basis: 50%;
    }
  }
}
