@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.privacy-and-data {
  & > * {
    max-width: func.rem(600);
    margin-inline: auto;
  }

  &__preferences-notification {
    $animation-time: 500ms;

    position: fixed;
    right: 2.5%;
    bottom: 2.5%;
    padding: 0.75em 1.25em;
    @include flex(row, flex-start, center);
    gap: 0.5em;
    background-color: c.$black;
    border-radius: 100vw;
    color: c.$white;
    font-size: 16px;
    font-weight: bold;
    z-index: 100;
    opacity: 0;
    animation: show $animation-time ease-in forwards,
      hide $animation-time ease-out calc(3000ms - $animation-time) forwards;
    @keyframes show {
      to {
        opacity: 1;
      }
    }
    @keyframes hide {
      to {
        opacity: 0;
      }
    }
  }

  &__back-link {
    font-weight: bold;
    padding: 0.5em 1em;
    width: max-content;
  }
  &__back-link {
    @include flex();
    border-radius: 0.25em;
    transition: v.$main-transition;
    color: c.$black;
    &:hover {
      background: rgba(128, 128, 128, 0.2);
    }
  }

  &__header-wrapper {
    @include flex(column, center, center);
    padding-bottom: func.rem(30);
    color: c.$black;
    text-align: center;
    @media screen and (width < func.rem(960)) {
      & svg {
        width: func.rem(91);
        height: func.rem(70);
      }
    }
  }

  &__heading {
    margin-bottom: 0.25em;
    font-size: 2rem;
    font-size: clamp(1.5rem, 1.22rem + 1.42vw, 2.13rem);
  }

  &__text {
    font-size: func.rem(18);
    font-weight: normal;
    font-size: clamp(0.88rem, calc(0.59rem + 1.43vw), 1.13rem);
  }

  &__download-wrapper {
    $padding: 0.75rem;

    position: relative;
    @include flex(flex-start, flex-start, center);
    width: 100%;
    padding: $padding;
    padding-right: 3rem;
    background-color: c.$white;
    border: none;
    border-radius: 0.5rem;
    font: inherit;
    font-size: v.$font-size-navbar;
    text-align: start;
    cursor: pointer;
    & svg:last-child {
      position: absolute;
      right: 0;
      translate: calc($padding * -1);
      rotate: 180deg;
    }
  }

  &__download-text {
    margin-left: 1em;
    font-weight: bold;
  }

  &__subheader {
    font-size: v.$font-size-navbar;
    margin-block: 1.5rem 1rem;
    font-weight: 500;
  }

  &__container {
    background-color: c.$white;
    padding: func.rem(12);
    border-radius: 0.5rem;
  }

  &__legend {
    margin-bottom: 0.25em;
    font-size: v.$font-size-navbar;
    color: c.$black;
  }

  &__form-wrapper {
    @include flex();
    gap: 2rem;
  }

  &__form-text {
    font-size: func.rem(12);
    font-weight: normal;

    & a {
      color: c.$viewing-restriction-input-blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  & hr {
    width: calc(100% + (func.rem(12) * 2));
    translate: calc(func.rem(12) * -1);
  }

  &__form-btn {
    width: 100%;
    padding: 0.75em 1em;
    background-color: c.$layout-btn-bg;
    border: none;
    border-radius: 0.25em;
    font: inherit;
    line-height: 100%;
    cursor: pointer;
    transition: v.$main-transition;
    &:hover {
      background-color: c.$layout-btn-bg-hover;
    }
    &:disabled {
      background-color: c.$white;
      color: rgba(0, 0, 0, 0.4);
      cursor: not-allowed;
    }
  }

  &__modal {
    max-width: func.rem(450);
    padding: clamp(1rem, calc(-2.69rem + 18.46vw), 2.5rem);
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    &::backdrop {
      background-color: hsla(0, 0%, 0%, 0.7);
    }
  }

  &__modal-heading {
    font-size: clamp(1.5rem, calc(0.27rem + 6.15vw), 2rem);
    margin-bottom: 0.25em;
  }

  &__modal-text {
    font-size: clamp(0.88rem, calc(0.57rem + 1.54vw), 1rem);
    font-weight: normal;
    padding-bottom: 1.75em;
  }

  &__modal-btn {
    width: 100%;
    padding: 0.5em;
    background-color: c.$layout-btn-bg;
    color: c.$black;
    border: none;
    border-radius: 0.25em;
    outline-offset: 0.15em;
    font: inherit;
    font-size: func.rem(18);
    transition: v.$main-transition;
    cursor: pointer;
    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
    &:hover {
      background-color: c.$layout-btn-bg-hover;
    }
    &--accent {
      background-color: c.$black;
      color: c.$white;
      &:hover {
        background-color: hsla(0, 0%, 0%, 0.7);
      }
    }
  }
}
