@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.subtitles {
  $select-color-size: func.rem(45);

  & * {
    font-weight: normal;
  }

  &__header {
    @include flex(row, space-between, center);
    margin-bottom: 2em;
  }

  &__heading {
    font-size: v.$account-heading;
    font-weight: normal;
  }

  &__subheading {
    margin-bottom: 1em;
  }

  &__form {
    max-width: func.rem(750);
  }

  &__visualization-container {
    width: 100%;
    height: 8rem;
    display: grid;
    place-content: center;
    margin-bottom: 1.25rem;
    padding: 0.5rem;
    background-image: url("/images/other/sky-background.jpg");
    border: func.rem(1) solid c.$viewing-restriction-label-inactive-text;
  }
  &__visualization-text {
    text-align: center;
  }

  &__settings-container {
    @media screen and (width > b.$subtitles-setting) {
      display: grid;
      grid-template-columns: repeat(2, func.rem(300));
      gap: 2rem 3rem;
    }
    max-width: func.rem(300);
  }

  & fieldset {
    border: none;
    padding: 0;
    margin: 0;
    @media screen and (width <= b.$subtitles-setting) {
      margin-bottom: 1.5em;
    }
  }

  & legend {
    color: c.$gray-text;
    margin-bottom: 0.375em;
    padding: 0;
    & > span {
      text-transform: capitalize;
    }
  }

  &__settings-inner-container {
    @include flex();
    gap: 0.75em;
  }

  &__settings-inner-wrapper {
    @include flex();
    & > * {
      width: 50%;
    }
    @media screen and (width <= b.$subtitles-setting) {
      position: relative;
      margin-bottom: 1em;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: calc(100vw - (3rem * 2));
        height: func.rem(1);
        background-color: c.$gray-light;
      }
    }
    @media screen and (width <= b.$mobile-medium) {
      margin-bottom: 2em;
      &::after {
        width: calc(100vw - (1rem * 2));
      }
    }
  }

  @media screen and (width <= b.$subtitles-setting) {
    &__text-size-container {
      position: relative;
      margin-bottom: 0.5em !important;
      padding-bottom: 1.5em !important;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: calc(100vw - (3rem * 2));
        height: func.rem(1);
        background-color: c.$gray-light;
        @media screen and (width <= b.$mobile-medium) {
          width: calc(100vw - (1rem * 2));
        }
      }
    }
  }

  &__fs-container {
    @include flex(row);
    height: $select-color-size;

    & > * {
      flex-grow: 1;
      border: func.rem(1) solid c.$gray-text;
    }
    & > *:first-child {
      border-right-color: transparent;
    }
    & > *:last-child {
      border-left-color: transparent;
    }

    input {
      position: relative;
      appearance: none;
      width: 100%;
      height: 100%;
      background-color: c.$main-text-color;
      border: func.rem(1) solid transparent;
      color: c.$gray-text;
      font-size: 1rem;
      cursor: pointer;
      &::after {
        position: absolute;
        content: "A";
        inset: 0;
        display: grid;
        place-content: center;
      }
      &:checked {
        background-color: c.$white;
      }
    }
    [data-font-size="small"]::after {
      font-size: 10pt;
    }
    [data-font-size="medium"]::after {
      font-size: 15pt;
    }
    [data-font-size="large"]::after {
      font-size: 20pt;
    }
  }

  &__settings-text-btn {
    $arrow-inline: func.rem(5);
    $arrow-height: func.rem(6);

    position: relative;
    font: inherit;
    flex-grow: 1;
    padding: func.rem(10);
    border: func.rem(1) solid c.$navbar-text;
    background-color: c.$white;
    text-align: start;
    text-transform: capitalize;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      right: 0.5em;
      top: 50%;
      translate: 0 -50%;
      border-left: $arrow-inline solid transparent;
      border-right: $arrow-inline solid transparent;
      border-top: $arrow-height solid black;
    }
    &[aria-expanded="true"]::after {
      border-left: $arrow-inline solid transparent;
      border-right: $arrow-inline solid transparent;
      border-top: none;
      border-bottom: $arrow-height solid black;
    }
  }

  &__settings-color-btn {
    position: relative;
    width: $select-color-size;
    aspect-ratio: 1;
    border: func.rem(1) solid c.$gray-light;
    text-indent: -9999px;
    cursor: pointer;
    &[data-selected-color="none"] {
      background-color: none;
      background-image: linear-gradient(
        to right bottom,
        transparent,
        transparent 48%,
        #ccc 49%,
        #ccc 51%,
        transparent 52%,
        transparent
      );
    }
  }

  &__list {
    background-color: c.$white;
    border: func.rem(1) solid c.$gray-light;
    width: func.rem(235);

    &--text {
      min-width: calc(100% + func.rem(8));
      border-top: none;
      @media screen and (width <= func.rem(332)) {
        min-width: 98.5%;
        max-width: 98.5%;
      }
      & li {
        padding: func.rem(10);
        font-size: v.$font-base;
        color: c.$profile-edit-maturity-ratings-bg;
        cursor: pointer;
        &.MuiOption-highlighted,
        &:hover {
          background-color: c.$account-bg;
        }
      }
    }

    &--color {
      $spacing: func.rem(10);

      position: absolute;
      right: calc($select-color-size * -1);
      padding-left: $spacing;
      padding-top: $spacing;
      & li {
        height: $select-color-size;
        aspect-ratio: 1;
        display: inline-block;
        margin-right: $spacing;
        margin-bottom: $spacing;
        border: func.rem(1) solid c.$gray-light;
        text-indent: -9999px;
        cursor: pointer;
        &[data-color="none"] {
          background-color: transparent;
          background-image: none;
          width: calc(100% - $spacing);
          height: calc(v.$font-base + ($spacing));
          padding: calc($spacing / 2);
          font: inherit;
          text-indent: 0;
          font-size: v.$font-base;
          text-align: center;
          text-transform: capitalize;
          line-height: 100%;
          color: c.$viewing-restriction-input-blue;
          outline: none !important;
          &:hover {
            text-decoration: underline;
            background-color: c.$account-bg;
          }
          &.MuiOption-highlighted {
            background-color: c.$account-bg;
          }
          &.Mui-selected.MuiOption-highlighted {
            outline: func.rem(1) solid black !important;
          }
        }
        &[aria-selected="true"] {
          box-shadow: 0 0 0 1px c.$white, 0 0 0 2px c.$navbar-text;
        }
        &.MuiOption-highlighted {
          outline: func.rem(1) solid black;
        }
      }
    }
    &--text-bgColor {
      left: 0;
    }
    &--window-bgColor {
      translate: 40%;
    }
  }

  &__list-checkbox-wrapper {
    @include flex(row, flex-start, center);
    margin-block: 1em;
    & label {
      width: 100%;
      text-align: center;
      font-size: v.$font-base;
      color: c.$profile-edit-maturity-ratings-bg;
    }
  }

  &__form-btns-wrapper {
    @media screen and (width > b.$mobile-medium) {
      @include flex();
      gap: 1em;
      padding-block: 1rem;
    }
  }
}
