@use "../../abstracts/colors" as c;
@use "../../base/functions" as func;

.manage-profile__done {
  background-color: c.$white;
  border-color: c.$white;
  color: c.$black;
  &:where(:hover, :focus-visible) {
    background-color: c.$netflix-red;
    border-color: c.$netflix-red;
    color: c.$white;
    outline-offset: func.rem(2);
  }
}
