@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as v;
@use "../../abstracts/colors" as c;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.password-confirmation {
  &__subheading {
    font: inherit;
    text-wrap: balance;
  }

  &__input-wrapper {
    position: relative;
    @include flex(row, flex-start, center);
    gap: 1em;
    margin-top: v.$confirmation-gap;
  }

  &__input {
    font: inherit;
    font-size: v.$font-base;
    font-weight: normal;
    padding: func.rem(10) func.rem(11);
    border-width: func.rem(1);
    border-color: c.$navbar-text;
    &:focus {
      border-color: c.$gray-text;
      outline: none;
    }
    &.invalid {
      border-color: c.$error-message-2;
    }
    @media screen and (width >= b.$mobile-medium) {
      width: func.rem(300);
    }
    @media screen and (width < b.$mobile-medium) {
      width: max(func.rem(175), 100%);
    }
  }

  &__warning-message {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: v.$font-size-header-mobile;
    color: c.$error-message-2;
    translate: 0 100%;
  }

  &__forgot-link {
    font-size: 1rem;
    font-weight: normal;
    color: hsl(210, 100%, 50%);
    &:where(:hover, :focus-visible) {
      text-decoration: underline;
    }
  }
}
