@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/breakpoints" as b;
@use "../../base/functions" as func;
@use "../../abstracts/mixins" as *;

.user-settings {
  &__wrapper {
    max-width: func.rem(720);
    margin-inline: auto;
    margin-block: 4.5rem 2.5rem;
    font-size: v.$font-size-user-settings-page-text;
    @media screen and (width <= b.$mobile-small) {
      padding-inline: 1rem;
    }
    @media screen and (width <= b.$mobile) and (width > b.$mobile-small) {
      padding-inline: 2rem;
    }
    @media screen and (width > b.$mobile) {
      padding-inline: 2rem;
    }
  }

  &__header {
    font-size: clamp(2rem, (0.4rem + 8vw), 4rem);
    font-weight: 500;
    color: c.$white;
    margin-bottom: 0.1em;
  }

  &__container {
    margin-block: v.$font-size-user-settings-page-section-heading;
    display: flex;
    gap: 1rem;
  }

  &__image-edit {
    position: relative;
    height: fit-content;
  }

  &__img {
    width: 8vw;
    max-width: func.rem(180);
    min-width: func.rem(80);
    aspect-ratio: 1/1;
    border-radius: 0.25em;
  }

  &__edit-btn {
    position: absolute;
    width: 30%;
    bottom: 0;
    border: none;
    padding: 6px;
    background-color: transparent;
    color: c.$white;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    & svg {
      width: 100%;
      min-width: 18px;
      aspect-ratio: 1/1;
      background-color: c.$black;
      border-radius: 50%;
      padding: 0.1rem;
      outline-offset: 0.15rem;
    }
    &:focus svg {
      outline: auto;
    }
  }

  &__input {
    width: 100%;
    outline: none;
    border: func.rem(1) solid transparent;
    padding-inline: 0.6em;
    padding-block: 0.4em 0.2em;
    background-color: c.$profile-edit-create-game-handle-bg;
    font-size: v.$font-size-user-settings-page-section-heading;
    color: c.$white;
    line-height: 1.5em;
    &::placeholder {
      color: hsl(0, 0%, 80%);
    }

    &.invalid {
      border-color: c.$error-message;
    }
    &.available {
      border-color: c.$available-color;
    }
  }
  &__invalid-message {
    color: c.$error-message;
    font-size: v.$font-size-user-settings-page-warning-text;
  }

  &__section-heading {
    font-size: v.$font-size-user-settings-page-section-heading;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1em;
    color: c.$bg;
  }

  &__language-select-heading {
    margin-bottom: 0.25em;
  }

  &__language-label-btn {
    position: relative;
    background-color: c.$black;
    color: c.$white;
    border-color: c.$white;
    font: inherit;
    font-weight: 500;
    cursor: pointer;
    padding-left: 0.65em;
    padding-right: calc(0.65em * 5);
    line-height: 1.5em;
    margin-bottom: v.$font-size-user-settings-page-section-heading;
    &:where(:hover, :focus-visible) {
      background-color: hsla(0, 0%, 100%, 0.1);
    }
  }

  &__language-select-list {
    position: absolute;
    translate: 0 calc(v.$font-size-user-settings-page-section-heading * -1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
    row-gap: 0.35em;
    margin-right: 1rem;
    padding-block: 6px;
    padding-inline: 10px;
    background-color: c.$language-select-bg;
    border: 1px solid c.$language-select-border;
    color: c.$white;
  }

  &__language-select-list-item {
    word-wrap: break-word;
    cursor: pointer;
    &:where(:hover) {
      text-decoration: underline;
    }
  }

  &__learn-more-btn {
    font: inherit;
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    font-weight: 500;
    outline-offset: 0.25em;
  }

  &__game-handle-section {
    margin-bottom: calc(v.$font-size-user-settings-page-section-heading * 2);
  }

  &__game-handle-text {
    margin-bottom: 1em;
  }

  &__game-handle-warning-info-container {
    @include flex(row, space-between, center);
    gap: 0.5rem;
    font-size: v.$font-size-user-settings-page-warning-text;
    margin-bottom: v.$font-size-user-settings-page-section-heading;
    color: c.$white;
    & > * {
      flex-grow: 1;
    }
    & .available {
      color: c.$available-color;
    }
  }

  &__game-handle-length {
    text-align: end;
  }

  &__game-handle-warning-info-wrapper {
    @include flex(row, flex-start, center);
    gap: 0.5em;
  }

  &__maturity-section {
    margin-bottom: calc(v.$font-size-user-settings-page-section-heading * 2);
  }

  &__text-box {
    background-color: c.$profile-edit-maturity-ratings-bg;
    padding: func.rem(7) func.rem(10);
    margin-bottom: 1em;
    text-transform: capitalize;
  }

  &__kids-badge {
    margin-right: 0.5em;
  }

  &__maturity-text {
    margin-top: v.$font-size-user-settings-page-section-heading;
    margin-bottom: calc(v.$font-size-user-settings-page-section-heading * 2);
  }

  &__autoplay-wrapper {
    position: relative;
    @include flex(row, flex-start, center);
    &:not(:first-child) {
      margin-top: calc(v.$user-settings-checkbox-gap * 3);
    }
  }

  &__autoplay-checkbox {
    appearance: none;
    &::before {
      position: absolute;
      content: "";
      width: v.$user-settings-checkbox-size;
      translate: 0 -50%;
      aspect-ratio: 1/1;
      background-color: transparent;
      border: 1px solid c.$gray-text;
    }
    &::after {
      position: absolute;
      content: "\2713";
      width: v.$user-settings-checkbox-size;
      aspect-ratio: 1/1;
      translate: 5% -55%;
      font-size: v.$user-settings-checkbox-mark-size;
      color: c.$gray-text;
      display: none;
    }
    &:checked::after {
      display: block;
    }
    &:focus-visible::before {
      outline: auto;
    }
  }

  &__autoplay-checkbox-label {
    margin-left: calc(v.$user-settings-checkbox-size + v.$user-settings-checkbox-gap);
  }

  &__confirmation-section {
    margin-top: calc(v.$font-size-user-settings-page-section-heading * 1.5);
    @include flex();
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  &__confirmation-btn,
  &__maturity-edit-btn {
    color: c.$gray-text;
    border: 1px solid c.$gray-text;
    padding: 0.5em 1.5em;
    outline: none;
    &:where(:hover, :focus-visible) {
      color: c.$white;
      border-color: c.$white;
    }
  }
  &__confirmation-btn {
    font-size: v.$font-size-user-settings-page-section-heading;
    margin-right: 1em;
  }
  &__confirmation-btn--accent {
    background-color: c.$white;
    border-color: c.$white;
    font-weight: 500;
    color: c.$black;
    &:where(:hover, :focus-visible) {
      color: c.$white;
      background-color: c.$netflix-red;
      border-color: c.$netflix-red;
    }
    &:focus {
      outline: auto;
      outline-color: c.$black;
      outline-offset: 0;
    }
  }
}

hr {
  margin: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-color: c.$gray-text;
  border-radius: 100vw;
}

.arrow {
  position: absolute;
  height: 0;
  width: 0;
  right: 10px;
  top: 44%;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
}
