@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;
@use "../../base/breakpoints" as b;

.account {
  $account-gap: 3em;
  $account-margin-block: 1em;
  $icon-width: func.rem(60);

  background-color: c.$account-bg;
  color: c.$black;
  cursor: default;

  &__container {
    margin-inline: auto;
    margin-bottom: -3rem;
    font-size: v.$font-base;
    font-weight: 500;
    color: c.$profile-edit-maturity-ratings-bg;
    @media screen and (width >= b.$mobile-medium) {
      max-width: func.rem(1024);
      padding-inline: 3rem;
    }
    @media screen and (width < b.$mobile-medium) {
      margin-inline: 1rem;
    }
  }

  &__heading-wrapper {
    @include flex(row, flex-start, center);
    gap: 1em;
    padding-block: 3em 1em;
  }

  &__main-heading {
    font-size: clamp(1.5rem, calc(1.22rem + 1.42vw), 2.13rem);
    font-weight: 500;
  }

  &__heading-member-container {
    @include flex(row, flex-start, center);
    gap: 0.25em;
    translate: 0 10%;
    font-size: v.$font-size-body;
    font-weight: bold;
    color: hsl(0, 0%, 33%);
    svg {
      width: func.rem(26);
      aspect-ratio: 1/1;
    }
  }

  &__heading-restrictions-saved {
    @include flex();
    gap: 1em;
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 0.25em;
    background-color: hsl(150, 62%, 45%);
    font-size: v.$font-base;
    color: c.$black;
    svg {
      width: func.rem(24);
      aspect-ratio: 1/1;
    }
  }

  hr {
    border-color: c.$bg;
    opacity: 0.5;
  }

  &__article-membership-billing {
    @include flex(row, space-between, flex-start);
    gap: $account-gap;
    margin-block: $account-margin-block;
    font-weight: normal;
    hr {
      opacity: 0.1;
    }
  }

  &__article-header {
    margin-bottom: 2em;
    font: inherit;
    button {
      font: inherit;
      font-size: v.$font-size-body;
      font-weight: normal;
      padding-inline: 3.25em;
    }
  }

  &__article-header-heading {
    width: 25ch;
    font-size: func.rem(18);
    font-weight: 500;
    text-transform: uppercase;
    color: c.$account-text;
    margin-bottom: 0.5em;
    letter-spacing: 0.04em;
  }

  &__article-sections-wrapper {
    flex-grow: 1;
  }

  &__article-section {
    margin-bottom: calc($account-margin-block * 0.75);
    width: 100%;
    &:not(:first-child) {
      margin-top: calc($account-margin-block * 0.75);
    }
    & > * {
      @include flex(row, flex-end, center);
      gap: 1rem;
      margin-bottom: calc($account-margin-block / 2);
    }
    * > :first-child:not(img, svg) {
      flex-grow: 1;
    }
  }

  &__article-link {
    text-align: end;
    color: c.$account-text-accent;
    font-weight: normal;
    display: flex;
    max-width: fit-content;
    text-wrap: nowrap;
    &:hover {
      text-decoration: underline;
    }
  }

  &__article-text {
    &--accent {
      color: c.$account-text;
    }
    &--capitalize {
      text-transform: capitalize;
    }
  }

  &__article-section-card-information-wrapper {
    $line-height: func.rem(20);

    @include flex(row, flex-start, center);
    line-height: $line-height;
    gap: 0.25em;
    img {
      width: func.rem(32);
      height: $line-height;
    }
  }

  &__article {
    @include flex();
    gap: $account-gap;
    margin-block: $account-margin-block;
  }

  &__section-wrapper {
    flex-grow: 1;
    @include flex(row, space-between, flex-start);
  }

  &__plan-wrapper {
    @include flex(row, flex-start, center);
    height: func.rem(20);
    line-height: 100%;
    svg {
      width: func.rem(110);
      height: 100%;
    }
  }

  &__article-links-wrapper {
    @include flex(column, flex-end, flex-end);
    gap: calc($account-margin-block / 2);
  }

  &__section-text {
    font-weight: normal;
    max-width: 43ch;
    & a {
      text-decoration: underline;
    }
  }

  &__new-badge {
    max-height: 1.9em;
    background-color: c.$account-new-badge-accent;
    margin-inline: 0.5em;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    color: c.$white;
    &--accent {
      background-color: #5196ff;
    }
  }

  &__profiles-wrapper {
    @include flex(column);
    gap: 1em;
    width: 100%;
    margin-bottom: $account-margin-block;
    hr {
      opacity: 0.3;
    }
  }

  &__profile-section {
    position: relative;
    width: 100%;
    @include flex(row, flex-start, center);
    gap: 1em;
    cursor: pointer;
  }

  &__profile-img {
    width: $icon-width;
    border-radius: 7.5%;
    aspect-ratio: 1/1;
  }

  &__profile-heading-wrapper {
    flex-grow: 1;
  }

  &__profile-heading {
    font-size: inherit;
    font-weight: normal;
    &--bold {
      font-weight: 500;
    }
  }
  &__profile-heading-description {
    font-size: v.$font-size-body;
    color: c.$account-text;
    font-weight: normal;
    font-style: normal;
    text-transform: capitalize;
    &--lowercase {
      text-transform: none;
    }
  }

  &__profile-btn {
    padding: 0;
    border: none;
    background: transparent;
    color: hsl(0, 0%, 67%);
    cursor: inherit;
    transition: rotate 250ms ease-in-out;
    svg {
      width: func.rem(20);
      aspect-ratio: 1/1;
    }
    &.expanded {
      rotate: 180deg;
    }
  }

  &__settings-wrapper {
    @include flex(column);
    gap: calc($account-margin-block / 2);
  }

  &__profiles-list {
    margin-left: calc($icon-width + $account-margin-block);
    display: grid;
    grid-template-rows: 0fr;
    transition: 250ms;

    & > ul {
      overflow: hidden;
      visibility: hidden;
    }
  }
  & .expanded {
    grid-template-rows: 1fr;
    & > ul {
      visibility: visible;
    }
  }

  &__profile-accent-text {
    font-size: v.$font-size-body;
    font-weight: normal;
    color: c.$account-text-accent;
  }

  &__profile-list-item-wrapper:not(:last-child) {
    border-bottom: func.rem(1) solid c.$bg;
  }

  &__profile-list-item {
    @include flex(row, space-between, center);
    height: func.rem(42);
    margin-block: $account-margin-block;
    margin-inline: 0.1em;
    outline-offset: 0;
    &:hover .account__profile-accent-text {
      text-decoration: underline;
    }
  }

  &__profile-animation-form {
    margin-block: $account-margin-block;
  }

  .divider {
    margin-top: $account-margin-block;
  }
}
