@use "../../abstracts/colors" as c;
@use "../../base/functions" as func;

.checkbox-light {
  position: relative;
  appearance: none;
  width: func.rem(25);
  aspect-ratio: 1/1;
  background-color: c.$white;
  border: 1px solid hsl(0, 0%, 70%);
  cursor: pointer;
  &::after {
    position: absolute;
    content: "\2713";
    translate: 10% -20%;
    font-size: func.rem(25);
    font-weight: bold;
    color: transparent;
  }
  &:checked::after {
    color: c.$viewing-restriction-input-blue;
  }
  &:disabled {
    cursor: not-allowed;
  }
  &:disabled:checked::after {
    color: c.$viewing-restriction-label-inactive-bg;
  }
}

.checkbox-light-label {
  cursor: pointer;
  font-weight: normal;
}
