@use "./functions" as func;

$mobile: func.rem(800);
$mobile-small: func.rem(400);
$mobile-medium: func.rem(500);
$mobile-account: func.rem(690);
$desktop-account: func.rem(1024);
$account-page-tablet: func.rem(740);
$subtitles-setting: func.rem(775);
