:root {
  //* Colors RGB codes
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --red: 199, 0, 0;
  --green: 0, 200, 0;
  --blue: 0, 0, 200;
  --yellow: 240, 220, 0;
  --magenta: 214, 0, 128;
  --cyan: 0, 159, 218;

  --text-opacity: 1;
  --text-background-opacity: 1;
  --window-opacity: 1;
  --shadowColor: black;
}

//* Font Face
[data-font-face="typewriter"] {
  font-family: "Courier New", monospace;
}
[data-font-face="print"] {
  font-family: "Georgia", serif;
}
[data-font-face="console"] {
  font-family: "Lucida Console", "Monaco", monospace;
}
[data-font-face="block"] {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto,Ubuntu", sans-serif;
}
[data-font-face="casual"] {
  font-family: "Comic Sans MS", "MarkerFelt-Thin", "Roboto Italic", cursive;
}
[data-font-face="cursive"] {
  font-family: "Lucida Handwriting", "Droid Serif Italic", cursive;
}
[data-font-face="small-caps"] {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto,Ubuntu", sans-serif;
  font-variant: small-caps;
}

//* Text Color
[data-font-color="white"] {
  color: rgba(var(--white), var(--text-opacity));
}
[data-font-color="black"] {
  color: rgba(var(--black), var(--text-opacity));
}
[data-font-color="red"] {
  color: rgba(var(--red), var(--text-opacity));
}
[data-font-color="green"] {
  color: rgba(var(--green), var(--text-opacity));
}
[data-font-color="blue"] {
  color: rgba(var(--blue), var(--text-opacity));
}
[data-font-color="yellow"] {
  color: rgba(var(--yellow), var(--text-opacity));
}
[data-font-color="magenta"] {
  color: rgba(var(--magenta), var(--text-opacity));
}
[data-font-color="cyan"] {
  color: rgba(var(--cyan), var(--text-opacity));
}
//* Text Color Semitransparent
[data-font-color-semitransparent="true"] {
  --text-opacity: 0.6;
}

//* Text Background Color
[data-text-bg-color="none"] {
  background-color: transparent;
}
[data-text-bg-color="white"] {
  background-color: rgba(var(--white), var(--text-background-opacity));
}
[data-text-bg-color="black"] {
  background-color: rgba(var(--black), var(--text-background-opacity));
}
[data-text-bg-color="red"] {
  background-color: rgba(var(--red), var(--text-background-opacity));
}
[data-text-bg-color="green"] {
  background-color: rgba(var(--green), var(--text-background-opacity));
}
[data-text-bg-color="blue"] {
  background-color: rgba(var(--blue), var(--text-background-opacity));
}
[data-text-bg-color="yellow"] {
  background-color: rgba(var(--yellow), var(--text-background-opacity));
}
[data-text-bg-color="magenta"] {
  background-color: rgba(var(--magenta), var(--text-background-opacity));
}
[data-text-bg-color="cyan"] {
  background-color: rgba(var(--cyan), var(--text-background-opacity));
}
//* Text Background Color Semitransparent
[data-text-bg-color-semitransparent="true"] {
  --text-background-opacity: 0.6;
}

//* Window Background Color
[data-window-bg-color="none"] {
  background-color: transparent;
}
[data-window-bg-color="white"] {
  background-color: rgba(var(--white), var(--window-opacity));
}
[data-window-bg-color="black"] {
  background-color: rgba(var(--black), var(--window-opacity));
}
[data-window-bg-color="red"] {
  background-color: rgba(var(--red), var(--window-opacity));
}
[data-window-bg-color="green"] {
  background-color: rgba(ar(--green), var(--window-opacity));
}
[data-window-bg-color="blue"] {
  background-color: rgba(var(--blue), var(--window-opacity));
}
[data-window-bg-color="yellow"] {
  background-color: rgba(var(--yellow), var(--window-opacity));
}
[data-window-bg-color="magenta"] {
  background-color: rgba(var(--magenta), var(--window-opacity));
}
[data-window-bg-color="cyan"] {
  background-color: rgba(var(--cyan), var(--window-opacity));
}
//* Text Background Color Semitransparent
[data-window-bg-color-semitransparent="true"] {
  --window-opacity: 0.6;
}

//* Colors
[data-color="none"] {
  background-color: transparent;
  background-image: linear-gradient(
    to right bottom,
    transparent,
    transparent 48%,
    #ccc 49%,
    #ccc 51%,
    transparent 52%,
    transparent
  );
}
[data-color="white"] {
  background-color: rgb(var(--white));
}
[data-color="black"] {
  background-color: rgb(var(--black));
}
[data-color="red"] {
  background-color: rgb(var(--red));
}
[data-color="green"] {
  background-color: rgb(var(--green));
}
[data-color="blue"] {
  background-color: rgb(var(--blue));
}
[data-color="yellow"] {
  background-color: rgb(var(--yellow));
}
[data-color="magenta"] {
  background-color: rgb(var(--magenta));
}
[data-color="cyan"] {
  background-color: rgb(var(--cyan));
}

//* Font Size
[data-font-size="small"] {
  font-size: 10pt;
}
[data-font-size="medium"] {
  font-size: 15pt;
}
[data-font-size="large"] {
  font-size: 20pt;
}

//* Shadow Color
[data-shadow-color="white"] {
  --shadowColor: rgb(var(--white));
}
[data-shadow-color="black"] {
  --shadowColor: rgb(var(--black));
}
[data-shadow-color="red"] {
  --shadowColor: rgb(var(--red));
}
[data-shadow-color="green"] {
  --shadowColor: rgb(var(--green));
}
[data-shadow-color="blue"] {
  --shadowColor: rgb(var(--blue));
}
[data-shadow-color="yellow"] {
  --shadowColor: rgb(var(--yellow));
}
[data-shadow-color="magenta"] {
  --shadowColor: rgb(var(--magenta));
}
[data-shadow-color="cyan"] {
  --shadowColor: rgb(var(--cyan));
}

//* Shadow
[data-shadow="none"] {
  text-shadow: none;
}
[data-shadow="raised"] {
  text-shadow: 0 -1px 0 white, 0 1px 0 var(--shadowColor);
}
[data-shadow="depressed"] {
  text-shadow: 0 -1px 0 var(--shadowColor), 0 1px 0 white;
}
[data-shadow="uniform"] {
  color: white;
  text-shadow: -1px 1px 0 var(--shadowColor), 1px -1px 0 var(--shadowColor),
    1px 1px 0 var(--shadowColor), -1px -1px 0 var(--shadowColor);
}
[data-shadow="drop-shadow"] {
  text-shadow: 1px 1px 1px var(--shadowColor);
}
