@use "../../base/functions" as func;
@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../abstracts/mixins" as *;

.slider-btn {
  border: none;
  padding: 0;
  cursor: pointer;
  width: v.$edit-profile-icon-size;
  @media screen and (width <= func.rem(1024)) {
    width: v.$edit-profile-icon-size-mobile;
  }
  @media screen and (width <= func.rem(500)) {
    width: v.$edit-profile-icon-size-sm-mobile;
  }
  &:where(:hover, :focus-visible) > img {
    border-color: c.$white;
  }
}

.slider-img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: v.$edit-profile-icon-border-radius;
  border: func.rem(2) solid transparent;
}

.swiper-button-prev,
.swiper-button-next {
  height: 100%;
  width: func.rem(60);
  margin-top: 0;
  @media screen and (width <= func.rem(1024)) {
    width: func.rem(40);
  }
  @media screen and (width <= func.rem(500)) {
    width: func.rem(25);
  }
}

.swiper-button-prev {
  inset: 0;
  background: linear-gradient(90deg, #141414 0, hsla(0, 0%, 8%, 0.4));
}
.swiper-button-next {
  top: 0;
  right: 0;
  background: linear-gradient(270deg, #141414 0, hsla(0, 0%, 8%, 0.4));
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: c.$white;
  scale: 0.75;
  opacity: 0;
  transition: 250ms ease-in-out;
}

.swiper-button-prev:where(:hover, :focus-visible):after,
.swiper-button-next:where(:hover, :focus-visible):after {
  scale: 0.85;
  opacity: 1;
}

.swiper-notification {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

.swiper-wrapper .swiper .swiper-button-prev {
  display: none;
}

.edit-profile-confirmation-modal {
  $fs: func.rem(14);
  $margin: 4rem;

  background-color: c.$bg-color;
  padding: 0;
  border: none;
  color: c.$white;
  text-align: center;
  &::backdrop {
    background-color: c.$bg-color;
  }

  &__heading {
    font-size: 1.75rem;
  }

  &__img-wrapper {
    @include flex(row, center, center);

    figure {
      margin-inline: 0;
      margin-block: $margin;
      font-size: $fs;
    }

    img {
      width: v.$edit-profile-icon-size;
      aspect-ratio: 1/1;
      border-radius: v.$edit-profile-icon-border-radius;
      @media screen and (width <= func.rem(1024)) {
        width: v.$edit-profile-icon-size-mobile;
      }
      @media screen and (width <= func.rem(500)) {
        width: v.$edit-profile-icon-size-sm-mobile;
      }
    }

    figcaption {
      margin-top: $fs;
    }

    & svg {
      width: func.rem(40);
      rotate: 180deg;
      margin-inline: 1rem;
      margin-bottom: $fs;
    }
  }

  &__btn-wrapper {
    @include flex();
    gap: 2rem;
    margin-inline: 2rem;
    font-weight: 500;
  }

  &__btn {
    font-size: 1.75rem;
    padding: func.rem(15) func.rem(46);
    cursor: pointer;
    @media screen and (width <= func.rem(540)) {
      padding: func.rem(7.5) func.rem(23);
      font-size: 1rem;
    }
    &--confirm {
      background-color: c.$white;
      color: c.$black;
      &:where(:hover, :focus-visible) {
        background-color: c.$netflix-red;
      }
    }
    &--cancel {
      background-color: transparent;
      color: c.$gray-text;
      border: func.rem(1) solid c.$gray-text;
      &:where(:hover, :focus-visible) {
        border-color: c.$white;
      }
    }
    &:where(:hover, :focus-visible) {
      color: c.$white;
    }
  }

  hr:first-of-type {
    margin-top: 1.5rem;
  }
  hr:last-of-type {
    margin-bottom: $margin;
  }
}
